extend header

block content 
  if data
    each item in data
      if item._id
        p
          a(href='/hit/' + item._id) #{item.species}
      else
        +display(data[0])
  if error
    pre=error


mixin display(hit)
  // pre=JSON.stringify(locals, null, 4)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-2 Item
          th.col-md-10 Value
      tbody
        tr
          td Gene Name
          td=hit.name
        tr
          td Species
          td=hit.species
        tr
          td HitID
          td=hit.hitid
        tr
          td AccessionID
          td=hit.accession
        tr
          td UniprotID
          td
            a(href='http://www.uniprot.org/uniprot/' + hit.uniprot) #{hit.uniprot}
        tr
          td Candida Genome ID
          td
            a(href='http://www.candidagenome.org/cgi-bin/locus.pl?dbid=' + hit.cgdid) #{hit.cgdid}
        tr
          td RefSeqID
          td=hit.refseq
        tr
          td Length
          td=hit.len
        tr
          td Bitscore
          td=hit.bitscore
        tr
          td eValue
          td=hit.evalue
        tr
          td Alignment Length
          td=hit.alignlen
        tr
          td ContigID
          td=hit.contig.head
        tr
          td Sequence
          td
            textarea(readonly).col-md-12(rows='4')=hit.contig.seq
        tr
          td ProteinID
          td=hit.protein.head
        tr
          td Protein Sequence
          td
            textarea(readonly).col-md-12(rows='2')=hit.protein.seq
        tr
          td Gene Ontology ID
          td
            each id in hit.protein.goids
              a(href='http://amigo.geneontology.org/amigo/term/' + id) #{id}  
