extend header

block content 
  if data
    each item in data
      if item._id
        p
          a(href='/hit/' + item._id) #{item.species}
      else
        +display(data[0])
  if error
    pre=error


mixin display(hit)
  // pre=JSON.stringify(locals, null, 4)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-4 Item
          th Value
      tbody
        tr
          td.col-md-4 Gene Name
          td=hit.name
        tr
          td.col-md-4 Species
          td=hit.species
        tr
          td.col-md-4 HitID
          td=hit.hitid
        tr
          td.col-md-4 AccessionID
          td=hit.accession
        tr
          td.col-md-4 UniprotID
          td
            a(href='http://www.uniprot.org/uniprot/' + hit.uniprot) #{hit.uniprot}
        tr
          td.col-md-4 Candida Genome ID
          td
            a(href='http://www.candidagenome.org/cgi-bin/locus.pl?dbid=' + hit.cgdid) #{hit.cgdid}
        tr
          td.col-md-4 RefSeqID
          td=hit.refseq
        tr
          td.col-md-4 Length
          td=hit.len
        tr
          td.col-md-4 Bitscore
          td=hit.bitscore
        tr
          td.col-md-4 eValue
          td=hit.evalue
        tr
          td.col-md-4 Alignment Length
          td=hit.alignlen
        tr
          td.col-md-4 ContigID
          td=hit.contig.head
        tr
          td.col-md-4 Sequence
          td=hit.contig.seq
        tr
          td.col-md-4 ProteinID
          td=hit.protein.head
        tr
          td.col-md-4 Protein Sequence
          td=hit.protein.seq
        tr
          td.col-md-4 Gene Ontology ID
          td
            each id in hit.protein.goids
              a(href='http://amigo.geneontology.org/amigo/term/' + id) #{id}
