extend header

block content 

  pre
    // pre=JSON.stringify(locals, 2, null)
    a(href='/')
      img(src='/images/logo.png')

    form(action='/hit', method='GET')
      div.center
        div
          label Gene Name:    
          input(type='text', name='name', width='20', value=options.name)
        div
          label Uniprot ID:   
          input(type='text', name='uniprot', value=options.uniprot)
        div
          label(for='protein.desc') Description:  
          input(type='text', name='protein.desc', value=options['protein.desc'])
        div.area
          label(for='contig.seq') Sequence:     
          textarea(name='contig.seq')=options['contig.seq']

      div.center
        div
          label Species:      
          select(name='species', value=options.species)
            option(default, value='', selected=options.species === '') -- select --
            option(value='shehate', selected=options.species === 'shehate') shehate
            option(value='tropicalis', selected=options.species === 'tropicalis') tropicalis
            option(value='boidinii', selected=options.species === 'boidinii') boidinii
        div
          label(for='limit') Limit:        
          input(type='number', name='limit', value=options.limit)
        div
          button.search search
        div.copy
          | Copy coding sequence and +/- 
          input.plusminus(type='text', name='plusminus', width='40px') 
          button.copybutton(data-clipboard-target='.highlight') copy
        div.infobox

      div.right
        pre
          | Candida Genome annotations for Tropicalis, Boidinii and Shehate.
          | 
          | Search for a gene, by ID, name or description. You can also add a neuclotide snippet to search for.
          | 
          | Created by Owen Garland (owg1@aber.ac.uk).

  if data
    if data[0]._id
      +listItems(data)
    else
      +display(data[0])
  if error
    pre=error

mixin listItems(data)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-1 Candida Gene Name
          th.col-md-5 Description
          th.col-md-1 Species
          th.col-md-1 Candida Geneome ID
          th.col-md-1 Uniprot ID
      tbody
        each item in data
          tr
            td
              a(href='/hit/' + item._id) #{item.name}
            td
              a(href='/hit/' + item._id) #{item.protein.desc}
            td
              a(href='/hit/' + item._id) #{item.species}
            td.external
              a(href='http://www.candidagenome.org/cgi-bin/locus.pl?dbid=' + item.cgdid) #{item.cgdid}
            td.external
              a(href='http://www.uniprot.org/uniprot/' + item.uniprot) #{item.uniprot}

mixin display(hit)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-1 Item
          th.col-md-11 Value
      tbody
        tr
          td Gene Name
          td=hit.name
        tr
          td Description
          td=hit.protein.desc
        tr
          td Species
          td=hit.species
        tr
          td Hit ID
          td=hit.hitid
        tr
          td Uniprot ID
          td
            a(href='http://www.uniprot.org/uniprot/' + hit.uniprot) #{hit.uniprot}
        tr
          td Candida Genome ID
          td
            a(href='http://www.candidagenome.org/cgi-bin/locus.pl?dbid=' + hit.cgdid) #{hit.cgdid}
        tr
          td Gene Ontology IDs
          td
            if hit.protein.goids
              each id in hit.protein.goids
                a(href='http://amigo.geneontology.org/amigo/term/' + id) #{id}  
        tr
          td Contig ID
          td=hit.contig.head
        tr
          td Contig Sequence
          td
            div.sequence.col-md-12.contig(start=hit.codingRange.start, end=hit.codingRange.end, fail=hit.codingRange.fail)=hit.contig.seq
        tr
          td Coding Sequence
          td
            div.sequence.col-md-12.coding=hit.codingseq.seq
        tr
          td Protein Sequence
          td
            div.sequence.col-md-12.protein=hit.protein.seq
