mixin searchForm(options)
  form.form(action='/hit', method='GET')
    div.col-md-3
      div.form-group
        label.col-sm-3.control-label Search:
        div.col-sm-9
          input.form-control(type='text', name='search', value=options.search)
      div.form-group
        label.col-sm-3.control-label(for='codingseq.seq') Sequence:
        div.col-sm-9
          textarea.form-control(name='codingseq.seq')=options['codingseq.seq']

    div.col-md-3
      div.form-group
        label.col-sm-3.control-label Species:
        div.col-sm-9
          select.form-control(name='species', value=options.species)
            option(default, value='', selected=options.species === '') -- select --
            option(value='shehate', selected=options.species === 'shehate') shehate
            option(value='tropicalis', selected=options.species === 'tropicalis') tropicalis
            option(value='boidinii', selected=options.species === 'boidinii') boidinii
      div.form-group
        label.col-sm-3.control-label(for='limit') Limit:        
        div.col-sm-9
          input.form-control.bfh-number(type='number', name='limit', value=options.limit, min='0')
      div.form-group
        button.form-control.search search


mixin listItems(data)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-1 Candida Gene Name
          th.col-md-5 Description
          th.col-md-1 Species
          th.col-md-1 Candida Geneome ID
          th.col-md-1 Uniprot ID
      tbody
        each item in data
          tr
            td
              a(href='/hit/' + item._id) #{item.name}
            td
              a(href='/hit/' + item._id) #{item.protein.desc}
            td
              a(href='/hit/' + item._id) #{item.species}
            td.external
              a(href='http://www.candidagenome.org/cgi-bin/locus.pl?dbid=' + item.cgdid) #{item.cgdid}
            td.external
              a(href='http://www.uniprot.org/uniprot/' + item.uniprot) #{item.uniprot}

mixin display(hit)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-1.header Item
          th.col-md-11 Value
      tbody
        // tr
        //   td.header(data-toggle='tooltip', title='The scaffold / neucleotide sequence that the gene was found in. Coding sequence highlighted in red') Contig 
        //     sup ?
        //     div
        //       button.btn.copybutton(data-clipboard-target='.hidden-box') Copy coding sequence
        //     div
        //       div.col-md-6.copyarea
        //         input.plusminus.form-control.bfh-number(type='number', min='0') 
        //       div.col-md-6.copyarea
        //         div.buttoninfo +/- bases  
        //       div.infobox
        //         |  
          td
            div.sequence.col-md-12.contig(start=hit.codingRange.start, end=hit.codingRange.end, fail=hit.codingRange.fail)=hit.contig.seq
        tr
          td.header(data-toggle='tooltip', title='Reference coding sequence that codes for the protein') Coding Sequence
            sup ?
            div
              button.btn.reverse Reverse Complement
          td
            div.sequence.col-md-12.coding=hit.codingseq
        tr
          td.header(data-toggle='tooltip', title='The contig the CDS was found in') Contig
            sup ?
          td
            div.sequence.col-md-12.coding
              a(href='/contig/' + hit.contig.id)=hit.contig.head
        // tr
        //   td.header(data-toggle='tooltip', title='Amino acid sequence that creates the protien') Protein Sequence
        //     sup ?
        //   td
        //     div.sequence.col-md-12.protein=hit.protein.seq
