mixin searchForm(options)
  form.form(action='/hit', method='GET')
    div.col-md-3
      div.form-group
        // label.col-sm-3.control-label Search:
        div.col-sm-12
          input.form-control(type='text', name='search', value=options.search)
        // label.col-sm-3.control-label(for='limit') Limit:        
        // div.col-sm-9
        //   input.form-control.bfh-number(type='number', name='limit', value=options.limit, min='0')
        div.col-sm-12
          button.form-control.search search


mixin listItems(data)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-1 Name
          th.col-md-1 Product
          th.col-md-1 GFF ID
          th.col-md-5 Contig ID
      tbody
        each item in data
          tr
            td
              a(href='/hit/' + item._id) #{item.name}
            td
              a(href='/hit/' + item._id) #{item.product}
            td
              a(href='/hit/' + item._id) #{item.gffId}
            td
              a(href='/hit/' + item._id) #{item.contig.head}

mixin display(hit)
  div.table-responsive
    table.table
      thead
        tr
          th.col-md-1.header Item
          th.col-md-11 Value
      tbody
        // TO DO: Use GFF3 definitions for tooltips

        tr
          td.header(data-toggle='tooltip', title='Reference coding sequence that codes for the protein') Coding Sequence
            sup ?
            div
              button.btn.reverse Reverse Complement
          td
            div.sequence.col-md-12.coding=hit.codingseq
        tr
          td.header(data-toggle='tooltip', title='A link to the full contig where the CDS was found. Warning: may be a large file.') Contig
            sup ?
          td 
            a(href='/contig/' + hit.contig.id)=hit.contig.head
        tr
          td.header(data-toggle='tooltip', title='Source of data') Source
            sup ?
          td=hit.source
        tr
          td.header(data-toggle='tooltip', title='Type of data') Type
            sup ?
          td=hit.type
        tr
          td.header(data-toggle='tooltip', title='Start of sequence in contig') Start
            sup ?
          td=hit.start
        tr
          td.header(data-toggle='tooltip', title='End of sequence in contig') End
            sup ?
          td=hit.end
        tr
          td.header(data-toggle='tooltip', title='length of CDS') Length
            sup ?
          td=hit.length
        tr
          td.header(data-toggle='tooltip', title='Score of match') Score
            sup ?
          td=hit.score
        tr
          td.header(data-toggle='tooltip', title='Left or Right hand strand') Strand
            sup ?
          td=hit.strand
        tr
          td.header(data-toggle='tooltip', title='Phase') Phase
            sup ?
          td=hit.phase
        tr
          td.header(data-toggle='tooltip', title='ID') ID
            sup ?
          td=hit.gffId
        tr
          td.header(data-toggle='tooltip', title='Product') Product
            sup ?
          td=hit.product
        tr
          td.header(data-toggle='tooltip', title='locus') Locus tag
            sup ?
          td=hit.locustag
        tr
          td.header(data-toggle='tooltip', title='Name') Name
            sup ?
          td=hit.name

        tr
          td.header(data-toggle='tooltip', title='Attributes') Attributes
          td.header
        each value, property in hit.attributes
          tr
            td.header(data-toggle='tooltip', title=property) 
              +ucfirst(property)
            td=value

mixin ucfirst(text)
  - text = text.charAt(0).toUpperCase() + text.slice(1);
  .
    #{text}
